.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

input {
  font-size: 2rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media(max-width: 600px) {
  input {
    font-size: 1.5rem;
  }
}